@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
    --font-open-sans: "Open Sans", "sans-serif";
    --animate-spin-slow: spin-slow 5s linear infinite;
    
    @keyframes spin-slow {
        from {
            transform: rotate(360deg);
        }

        to {
            transform: rotate(0deg);
        }
    }
}

body {
    background-color: #FFF;
}
